pipeline/extractenov8log.json
{
	"name": "extractenov8log",
	"properties": {
		"activities": [
			{
				"name": "extract_enov8_log",
				"type": "SynapseNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "log_analyzer_engine",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Extract list of Automated Application folder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set CYCLE_ID and RUN_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extract list of Automated Application folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CYCLE_ID",
					"value": "SELECT MAX(CYCLE_ID) FROM ctl.PIPELINE_CONTROL"
				}
			},
			{
				"name": "For Each Automated Application",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MASTER JOB CONTROL START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('JOB CONTROL COMPLETE').output.pipelineReturnValue",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "JOB CONTROL COMPLETE",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "extract_enov8_log_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "sp_ctl_log_control"
							},
							"linkedServiceName": {
								"referenceName": "tdmsynapsetst-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "JOB CONTROL FAILURE",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "extract_enov8_log_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "sp_ctl_log_control"
							},
							"linkedServiceName": {
								"referenceName": "tdmsynapsetst-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "JOB CONTROL START",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "sp_ctl_log_control"
							},
							"linkedServiceName": {
								"referenceName": "tdmsynapsetst-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "extract_enov8_log_copy1",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "JOB CONTROL START",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "log_analyzer_engine",
									"type": "NotebookReference"
								},
								"snapshot": true
							}
						}
					]
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "For Each Automated Application",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Extract list of Automated Application folder').output.firstRow",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('JOB CONTROL FAILURE').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MASTER JOB CONTROL COMPLETE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "For Each Automated Application",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "sp_master_job_control"
				},
				"linkedServiceName": {
					"referenceName": "tdmsynapsetst-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "MASTER JOB CONTROL START",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set CYCLE_ID and RUN_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "sp_master_job_control"
				},
				"linkedServiceName": {
					"referenceName": "tdmsynapsetst-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Failure message to Teams Channel",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Fail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('Extract list of Automated Application folder').output.pipelineReturnValue",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			}
		],
		"variables": {
			"CYCLE_ID": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-20T02:27:26Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}